{% extends 'layout.html' %}
{% from "_forms.html" import render_field %}

{% block content %}

{% if form.errors %}
<div class="message">
	<div class="ui-widget">
		<p class="ui-state-highlight ui-corner-all">
			<span class="ui-icon ui-icon-alert"></span>
			Failed to change your password.
			<br/>Please make sure your password is at least 6 characters and your confirmation matches.
		</p>
	</div>
</div>
{% endif %}

<form action="" method="post">
	{{ form.hidden_tag() }}
	{{ render_field(form.password) }}
	{{ render_field(form.confirm) }}
	<input type="submit" value="Change" />
</form>
{% endblock %}
