{% extends 'layout.html' %}
{% from "_forms.html" import render_field %}

{% block content %}

{% if form.errors %}
<div class="alert alert-error">
	<h4 class="alert-heading">Failed to change your password.</h4>
	Please make sure your password is at least 6 characters and your confirmation matches.
</div>
{% endif %}

<form action="" method="post">
	{{ form.hidden_tag() }}
	{{ render_field(form.password) }}
	{{ render_field(form.confirm) }}
	<input type="submit" value="Change" class="btn btn-primary" />
</form>
{% endblock %}
