{% extends 'layout.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='editor.css') }}" />
<script src="{{ url_for('static', filename='ace/ace.js') }}"></script>
<script src="{{ url_for('static', filename='ace/theme-clouds.js') }}"></script>
<script src="{{ url_for('static', filename='ace/mode-html.js') }}"></script>
<script src="{{ url_for('static', filename='ace/mode-css.js') }}"></script>
<script src="{{ url_for('static', filename='ace/mode-javascript.js') }}"></script>

<script>
var aceeditor;

window.onload = function() {
	aceeditor = ace.edit('editor');
	aceeditor.setTheme('ace/theme/clouds');
	var mode = require('ace/mode/html').Mode;
	aceeditor.getSession().setMode(new mode());
}

$(function(){
	$('#save, #saveclose').click(function(){
		$('#save, #saveclose').attr('disabled', 'disabled');
		$.post('{{ url_for('save_file', domain=domain, path=path) }}',
			{'content': aceeditor.getSession().getValue()},
			function() {
				$('#save, #saveclose').removeAttr('disabled')
			}
		);
	});
});
</script>
{% endblock %}

{% block headercontent %}
<button id="save" class="btn primary">Save</button>
<button id="saveclose" class="btn" style="visibility: hidden;">Save &amp; Close</button>
{% endblock %}

{% block content %}
<pre id="editor">{{ file_content }}</pre>
{% endblock %}
