<!doctype html>
<html>
	<head>
		{% block head %}
		<title>mmcbox</title>
		<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="stylesheet" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/ui-lightness/jquery-ui.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		{% endblock %}
	</head>

	<body>
		{% block body %}
		{% block header %}
		<header>
		<a href="{{ url_for('logout') }}">logout</a>
		<h1>mmc<span>box</span></h1>
		{% block headercontent %}{% endblock %}
		</header>
		{% endblock %}

		{% for category, msg in get_flashed_messages(with_categories=true) %}
			<p class="flash-{{ category }}">{{ msg }}</p>
		{% endfor %}

		<section id="content">
		{% block content %}
			No content.
		{% endblock %}
		</section>
		{% endblock %}
	</body>
</html>
