<!doctype>
<html>
	<head>
		<title>mmcbox</title>
		<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='style.css') }}" />
	</head>

	<body>
		{% block body %}
		{% block header %}
		<header>

		</header>
		{% endblock %}

		{% for category, msg in get_flashed_messages(with_categories=true) %}
			<p class="flash-{{ category }}">{{ msg }}</p>
		{% endfor %}

		<section id="content">
		{% block content %}
			No content.
		{% endblock %}
		</section>
		{% endblock %}
	</body>
</html>
