{% extends 'layout.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='login.css') }}" />
{% endblock %}

{% block body %}
<div id="login">
	<h1>mmc<span>box</span></h1>
	{% for msg in get_flashed_messages() %}
	<div class="ui-widget">
		<p class="ui-state-highlight ui-corner-all">
			<span class="ui-icon ui-icon-alert"></span>
			{{ msg }}
		</p>
	</div>
	{% endfor %}

	<p id="info">
		mmcbox is a site for OSU MMC students (and others!) to create
		and upload websites to learn about the web or show off.
		<br/><br/>
		the site is being actively developed. things will change,
		and some things may be completely broken.
		<br/><br/>
		questions and comments should be directed to jacob at peddicord dot net.
		this site is not affiliated with The Ohio State University.
		<br/><br/>
		source code for this site will be made available online soon.
	</p>

	<form action="" method="post">
		<input type="text" name="email" placeholder="email" />
		<input type="password" name="password" placeholder="password" />
		<input type="submit" value="Sign In" class="btn primary" />

		<p>Forgot your password, or need an account? Contact jacob at peddicord dot net.</p>
	</form>

</div>
{% endblock %}
