html {
	overflow-y: hidden;
}

header {
	width: auto !important;
	margin: 0;
	padding: 4px;
	border: none;
}

.container {
	width: auto !important;
}

#content {
	border: none;
}

#editor {
	position: absolute;
	left: 0;
	right: 0;
	top: 36px;
	bottom: 0;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}
