#browser {
	list-style-type: none;
	padding: 0;
}

#browser > li {
	padding: 8px;
	height: 1.7em;
	overflow: hidden;
}

#browser > li:hover {
	background-color: #f3f3f3;
}

#browser > li > a {
	display: inline-block;
	padding: 3px;
	color: #1c94c4;
	font-weight: bold;
	text-decoration: none;
}

#browser > li > .ui-icon {
	float: left;
}

#browser > li > ul {
	visibility: hidden;
	list-style-type: none;
	display: inline;
	padding: 0;
}

#browser > li:hover > ul {
	visibility: visible;
}

#browser > li > ul li {
	float: right;
	padding: 3px;
}

