body {
	font-family: Helvetica, sans-serif;
	font-size: 62.5%;
}

header {
	width: 828px;
	margin: 5px auto;
	border: 1px solid #ddd;
	padding: 6px;
}

h1 {
	font-size: 2em;
	margin: 0;
	color: #b00;
}

h1 span {
	color: #999;
}

header a:link, header a:visited {
	float: right;
	text-decoration: none;
	color: #444;
	font-weight: bold;
}

#content {
	width: 800px;
	margin: 5px auto;
	padding: 20px;
	border: 1px solid #ccc;
	font-size: 1.4em;
}


/** Login Form **/
#login {
	width: 600px;
	border: 1px solid #ccc;
	margin: auto;
}

#login h1 {
	font-size: 3em;
	margin: 20px 0 30px 20px;
}

#login div {
	font-size: 1.2em;
}

#login .ui-widget {
	float: right;
	margin: 10px 10px 20px 0;
	font-size: 1.4em;
}

#login .ui-state-highlight {
	padding: 5px;
}

#login .ui-icon {
	float: left;
	margin-right: 5px;
}

#login #info {
	float: left;
	margin-left: 20px;
	padding: 5px;
	width: 40%;
	background-color: #ccc;
	border: 1px solid #bbb;
	font-size: 1.6em;
	color: #444;
}

#login form {
	width: 300px;
	margin: 150px 0 100px 299px;
	padding: 10px 0 0 0;
	border: 1px solid #bbb;
	border-right: none;
}

#login input[type="text"], #login input[type="password"] {
	width: 280px;
	border: 1px solid #bbb;
	border-right: none;
	font-size: 2.5em;
	margin-left: 20px;
	padding: 3px;
}

#login input[type="submit"] {
	margin-left: 20px;
	font-size: 2.6em;
	padding: 5px;
}

#login form p {
	margin: 20px;
	clear: right;
	font-size: 1.2em;
}
